#container {
    width: 100%;
    min-width: 1250px;
}

#wrapper {
    width: 100%;
    margin: 0px auto;

}

#content {
    padding: 10px;
    background-color: #CCCCCC;
}

#header {
    width: 100%;
    background-color: #990000;
    color: white;
    font-size: 40px;
    line-height: 70px;
}

#footer {
    background-color: #990000;
}

.ui-datepicker div {
    border: 0px;
}

label {
    width: 200px;
    display: block;
    float: left;
}

body {
    font-family: "Adobe Caslon Pro";
}

h2 {
    text-align: center;
}

#innerContent {
    width: 90%;
    height: 90%;
    background-color: white;
    margin: 0px auto;
    padding: 5%;
    min-height: 500px;
}

ul, li, a {
    margin: 0px;
    padding: 0px;
}

td, th {
    padding: 5px;
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

#displayCustomers {
    display: table;
    width: 100%;
}

#form {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 60%;

}

h2 {
    text-align: center;
}

.warning {
    color: #990000;
}

div.ui-datepicker {
    font-size: 16px;
}

.readonly {
    border: 0;
}

#menu {
    list-style: none;
    float: left;
    width: 100%;
    background-color: #990000;
    height: 40px;
    margin: 0 auto;
    border: 0;
    line-height: 30px;
    border-top: 2px solid white;
}

#menu ul {
    list-style: none;
    position: absolute;
    margin-left: 20px;
}

#menu ul li {
    padding-top: 1px;
    float: left;
}

#menu ul a {
    white-space: nowrap;
}

#menu li:hover > ul {
    visibility: visible;
    background-color: #990000;
}

#menu li {
    float: left;
    margin-right: 10px;
    position: relative;
}

#menu a {
    display: block;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

#menu ul ul {
    visibility: hidden;
    margin-left: 0;
}

#menu ul ul ul {
    visibility: hidden;
    position: absolute;
    left: 125%;
    top: 0;
}

#menu ul li:hover > ul {
    visibility: visible;
}

#menu a:hover {
    color: #ffcc00;
}

#innerContent li {
    position: relative;
    left: 40px;
}

#login {
    float: right;
    font-size: 20px;
    line-height: 35px;
    padding-right: 20px;
    padding-top: 10px;
}

#login a {
    text-decoration: none;
    color: inherit;
}
