#container{
    width: 100%;
    min-width: 1250px;
}
#wrapper {
    width: 100%;
    margin: 0px auto;

}
#content{
    padding: 10px;
    background-color: #CCCCCC;
}
#header{
    width: 100%;
    height: 60px;
    background-color: #990000;
    color: white;
    font-size: 40px;
    line-height: 80px;
}
#footer{
    background-color: #990000;
}
.ui-datepicker div {
    border: 0px;
}
label{
    width: 200px;
    display: block;
    float: left;
}
body{
    font-family: "Adobe Caslon Pro";
}
h2{
    text-align: center;
}
#dark{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}
#light{
    display: none;
    position: absolute;
    width: 400px;
    height: 400px;
    padding: 20px;
    border: 2px solid #FFF;
    z-index:1002;
    overflow:visible;
    background-color: white;
}

#innerContent{
    width: 90%;
    height: 90%;
    background-color: white;
    margin: 0px auto;
    padding: 5%;
    min-height: 500px;
}
ul, li, a {
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: inherit;
}

tr:hover{
    background-color: #CCCCCC;
}
td,th{
    padding: 5px;
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}
#displayCustomers{
    display: table;
    width: 100%;
}
#form{
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 60%;

}
h2{
    text-align: center;
}
.warning{
    color: #990000;
}
div.ui-datepicker {
    font-size: 16px;
}
.readonly{
    border: 0px;
}
#menu{
    list-style:none;
    float: left;
    width: 100%;
    background-color: #990000;
    height: 50px;
    margin: 0px auto;
    border: 0px;
}
#menu ul{
    list-style: none;
    position: absolute;
    margin-left: 20px;
}
#menu ul li {
    padding-top: 1px;
    float: left;
}
#menu ul a{
    white-space:nowrap;
}
#menu li:hover ul {
    visibility: visible;
    background-color: #990000;
}
#menu li{
    float: left;
    margin-right: 10px;
    position: relative;
}
#menu a{
    display: block;
    padding: 5px;
    text_decoration:none;
    font-size: 20px;
    color: white;
}
#menu ul ul{
    visibility: hidden;
    margin-left: 0px;
}

#menu a:hover{
    color: #ffcc00;
}
