.info {
    width: 100%;
    height: 69px;
    float: left;
    font-size: 12px;
    line-height: 16px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    padding-left: 5px;
    padding-top: 5px;
    border: 1px solid black;
    border-bottom: none;
    border-right: none;
}

.time {
    width: 100%;
    height: 40px;
    float: left;
    text-align: center;
    padding-top: 28px;
    font-size: 14px;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.time-wrapper {
    width: 5%;
    float: left;
}

.info-wrapper {
    width: 10%;
    float: left;
}

#scheduleWrapper {
    min-width: 1200px;
    width: 100%;
    margin: 0px auto;
    background-color: white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    overflow: hidden;
}

label {
    width: 150px;
    float: left;
}

div {
    border: none;
    margin: 0px;
}

.hidden {
    visibility: hidden;
    display: none;
    opacity: 0;
}

.shown {
    visibility: visible;
    display: block;
    opacity: 1;
}

#overlay {
    position: fixed;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    z-index: 100;
    overflow-y: hidden;
}

#overlay-display {
    position: relative;
    margin: 100px auto;
    padding: 30px;
    background-color: #FFF;
    font-family: 'Garamond', serif;
    z-index: 200;
}

#overlay-close {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background-color: #000000;
    opacity: 0.9;
}