#container{
    width: 100%;
    min-width: 800px;
}
#wrapper {
    width: 100%;
    margin: 0px auto;

}
#content{
    padding: 10px;
    background-color: #CCCCCC;
}
#header{
    width: 80%;
    padding-left: 10%;
    padding-top: 10px;
    padding-right: 10%;
    height: 130px;
    background-color: #990000;
    color: white;
    font-size: 40px;
    line-height: 80px;
}
#footer{
    background-color: #990000;
}
div {
    border: 1px solid #FFCC00;
    margin: -1px;
}
label{
    width: 200px;
    display: block;
    float: left;
}
body{
    font-family: "Adobe Caslon Pro";
}
h2{
    text-align: center;
}
#dark{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}
#light{
    display: none;
    position: absolute;
    width: 400px;
    height: 400px;
    padding: 20px;
    border: 2px solid #FFF;
    z-index:1002;
    overflow:visible;
    background-color: white;
}
#menu{
    background-color: #990000;
    height: 50px;
    margin: 0px auto;
    border: 0px;
}
.menuButton{
    width: 10%;
    color: white;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    padding-left: 5%;
    padding-right: 5%;
    border: 0px;
    float: left;
    text-align: center;
}
.menuButton:hover{
    color: #ffcc00;
}
#innerContent{
    width: 70%;
    height: 90%;
    background-color: white;
    margin: 0px auto;
    padding: 5%;
    min-height: 500px;
}
a{
    text-decoration: none;
    color: inherit;
}

td:hover{
    background-color: #CCCCCC;
}
td,th,table{
    padding: 5px;
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    width: 100%;
}
#displayCustomers{
    display: table;
    width: 100%;
}
